<form method="POST" action="/store" enctype="multipart/form-data">
    <label for="txtNombre">Nombre:</label>
    <input type="text" name="txtNombre" id="txtNombre">
    <br />
    <label for="txtDesc">Descripción:</label>
    <input type="text" name="txtDesc" id="txtDesc">
    <br />
    <label for="txtGene">Genero:</label>
    <input type="text" name="txtGene" id="txtGene">
    <br />
    <label for="txtImg">Imagen:</label>
    <input type="file" name="txtImg" id="txtImg">
    <br />
    <input type="submit" value="Agregar nueva pelicula">
</form>