{% include 'header.html' %}

<table class="table table-dark">
    <div>
        <form method="POST" action="{{ url_for('busqueda') }}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nombre" name="busqNombre" id="busqNombre">
                <input type="text" class="form-control" placeholder="Descripcion" name="busqDescripcion" id="busqDescripcion">
                <input type="text" class="form-control" placeholder="Genero" name="busqGenero" id="busqGenero">
                <input method="POST"  class="btn btn-default" href="" value="Buscar" type="submit"></button>
            </div>
        </form>
    </div>
    <thead class="thead-dark">
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td>
                <img width="100" src="moviepic/{{movie.image}}" alt="portada">
            </td>
            <td>{{movie.nombre}}</td>
            <td>{{movie.descripcion}}</td>
            <td>{{movie.genero}}</td>
            <td>
                <a class="btn btn-warning" href="/modify/{{movie.id}}">Editar</a>
                <a id="btnBorrar" class="btn btn-danger" href="/delete/{{movie.id}}">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html' %}